html
	head
		title Metodo
		script(src='../jquery/dist/jquery.min.js')
		script(src='https://cdn.socket.io/socket.io-1.2.0.js')
		script(src='../js/grafica.js')
		link(href='../css/metodo.css', rel='stylesheet')
	body
		img.grafica(width="100%" height="100%" src="../img/validated/"+data+".jpg" style="display:none")
		<div class="wrapper">
		<div class="line line1">
		<span class="circle circle-top"></span>
		<div class="dotted">
		<span class="dot dot-top"></span>
		<span class="dot dot-middle-top"></span>
		<span class="dot dot-middle-bottom"></span>
		<span class="dot dot-bottom"></span>
		</div>
		<span class="circle circle-bottom"></span>
		</div>
		<div class="line line2">
		<span class="circle circle-top"></span>
		<div class="dotted">
		<span class="dot dot-top"></span>
		<span class="dot dot-middle-top"></span>
		<span class="dot dot-middle-bottom"></span>
		<span class="dot dot-bottom"></span>
		</div>
		<span class="circle circle-bottom"></span>
		</div>
		<div class="line line3">
		<span class="circle circle-top"></span>
		<div class="dotted">
		<span class="dot dot-top"></span>
		<span class="dot dot-middle-top"></span>
		<span class="dot dot-middle-bottom"></span>
		<span class="dot dot-bottom"></span>
		</div>
		<span class="circle circle-bottom"></span>
		</div>
		<div class="line line4">
		<span class="circle circle-top"></span>
		<div class="dotted">
		<span class="dot dot-top"></span>
		<span class="dot dot-middle-top"></span>
		<span class="dot dot-middle-bottom"></span>
		<span class="dot dot-bottom"></span>
		</div>
		<span class="circle circle-bottom"></span>
		</div>
		<div class="line line5">
		<span class="circle circle-top"></span>
		<div class="dotted">
		<span class="dot dot-top"></span>
		<span class="dot dot-middle-top"></span>
		<span class="dot dot-middle-bottom"></span>
		<span class="dot dot-bottom"></span>
		</div>
		<span class="circle circle-bottom"></span>
		</div>
		<div class="line line6">
		<span class="circle circle-top"></span>
		<div class="dotted">
		<span class="dot dot-top"></span>
		<span class="dot dot-middle-top"></span>
		<span class="dot dot-middle-bottom"></span>
		<span class="dot dot-bottom"></span>
		</div>
		<span class="circle circle-bottom"></span>
		</div>
		<div class="line line7">
		<span class="circle circle-top"></span>
		<div class="dotted">
		<span class="dot dot-top"></span>
		<span class="dot dot-middle-top"></span>
		<span class="dot dot-middle-bottom"></span>
		<span class="dot dot-bottom"></span>
		</div>
		<span class="circle circle-bottom"></span>
		</div>
		<div class="line line8">
		<span class="circle circle-top"></span>
		<div class="dotted">
		<span class="dot dot-top"></span>
		<span class="dot dot-middle-top"></span>
		<span class="dot dot-middle-bottom"></span>
		<span class="dot dot-bottom"></span>
		</div>
		<span class="circle circle-bottom"></span>
		</div>
		<div class="line line9">
		<span class="circle circle-top"></span>
		<div class="dotted">
		<span class="dot dot-top"></span>
		<span class="dot dot-middle-top"></span>
		<span class="dot dot-middle-bottom"></span>
		<span class="dot dot-bottom"></span>
		</div>
		<span class="circle circle-bottom"></span>
		</div>
		<div class="line line10">
		<span class="circle circle-top"></span>
		<div class="dotted">
		<span class="dot dot-top"></span>
		<span class="dot dot-middle-top"></span>
		<span class="dot dot-middle-bottom"></span>
		<span class="dot dot-bottom"></span>
		</div>
		<span class="circle circle-bottom"></span>
		</div>
		<div class="line line11">
		<span class="circle circle-top"></span>
		<div class="dotted">
		<span class="dot dot-top"></span>
		<span class="dot dot-middle-top"></span>
		<span class="dot dot-middle-bottom"></span>
		<span class="dot dot-bottom"></span>
		</div>
		<span class="circle circle-bottom"></span>
		</div>
		</div>
